*{ /* this selector refers to all the components in the html */
    box-sizing: border-box; /* this style makes the content stay within its designated width and height while padding is used */
    z-index: 0; /* so that every element starts from the same z-coordinate */
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
}


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding-top: 30px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.95);
    width: 100%;
    height: 45px;
    z-index: 1; /*to make the header display above everything if the items overlap */
    padding-left: 30%;
    padding-right: 30%;
}

nav{
    margin: auto;
    height: 100%;
    width: 600px;    
}

.link-table{
    width: 100%;
    height: 100%;
}

.link-container{
    font-weight: normal;
    text-align: center;
    height: 100%;
    color: white;
}


.nav-link{
    padding-top : 13px;
    height: 100%;
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-family: 'arial', Times, serif;
    font-size: 13px;
    display: block;
}

.nav-link:hover{
    opacity: 1;
}

/* Different ID style for nav link*/
#logo{
    width: 10%;
    padding-top: 5px;
    padding-left: 10px;
}
#homeLink{
    width: 12%;
}
#blogLink{
    width: 16%;
}
#buyLink{
    width: 22%;
}
#researchLink{
    width: 20%;
}
#aboutUsLink{
    width: 20%;
}

h3,h2{ 
    color: rgba(183, 34, 81, 0.907);
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
/* style for product image*/
.product-image {
    max-width: 50%;
    height: auto;
   padding-top: 30px;
   padding-right:100px;
    
}

.side-views{
    position: relative;/* positioned relative to its normal position*/
    top: 30px;
    left: -80px;
    width: 70px;
    height: 300px;
    padding-top: 30px;
}

.viewButton{
    border: none;
    padding: 0;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#view1{
    border: 4px solid gray;
}

.viewButton:hover{
    cursor: pointer;
}
/* style for product sliderview image*/
.sideviewImages{
    width: 100%;
    height: 100%;
}

#product-image {
    max-width: 50%;
    height: auto;
    padding-top: 30px;
    padding-right:100px;
    border: 1px;
    border-color: black;
}

.viewImages{
    padding-top: 50px;
    width: 300px;
    height: 300px;
}

.product-details {
    max-width: 600px;
    margin-right: 20px;
    padding: 50px;

}
/* style for buy button*/
.buyNow{
    background-color: white;
    height: 30px;
    width: 80px;
    border: 1px solid;
    border-radius: 15px;
}

.buyNow:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}

.features, .specifications {
    width: 100%;
    margin-top: 20px;
}

.features td{
    display: block; 
    margin-bottom: 20px;
}


td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    margin-bottom: 20px;
}
/* style for footer*/
.footer{
    width: 100%;
    height: 300px;
    background: black;
    padding: 25px 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footerLinkContainer{
    display: block;
    margin-bottom: 15px;
}

.footerLink:link{
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 15px;
}

.footerLink:visited{
    color: rgb(174, 167, 167);
}

.footerLink:hover{
    color: white;
    text-decoration: underline;
}

.linkbar{
    margin-right: 50px;
    width: 150px;
    padding-left: 5px;
}

.footerSocialLogo{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

#newsLetterSubmit{
    border: 1px solid white; 
    background-color: black; 
    color: white;
    height: 30px;
}

#newsLetterSubmit:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

#newsLetterInput{
    border: 1px solid white; 
    background-color: black; 
    color: white; 
    height: 30px;
    width: 200px;
}

.footerSocials a:hover{
    cursor: pointer;
}