*{ /* this selector refers to all the components in the html */
    box-sizing: border-box; /* this style makes the content stay within its designated width and height while padding is used */
    z-index: 0; /* so that every element starts from the same z-coordinate */
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 45px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.95);
    width: 100%;
    height: 45px;
    z-index: 1; /*to make the header display above everything if the items overlap */
    padding-left: 29%;
    padding-right: 30%;
}

nav{
    margin: auto;
    height: 100%;
    width: 600px;    
}

.link-table{
    width: 100%;
    height: 100%;
}

.link-container{
    font-weight: normal;
    text-align: center;
    height: 100%;
    color: white;
}


.nav-link{
    padding-top : 13px;
    height: 100%;
    color: white;
    opacity: 0.8;
    text-decoration: none;
    font-family: 'arial', Times, serif;
    font-size: 13px;
    display: block;
}

.nav-link:hover{
    opacity: 1;
}

#logo{
    width: 10%;
    padding-top: 5px;
    padding-left: 10px;
}
#homeLink{
    width: 12%;
}
#blogLink{
    width: 16%;
}
#buyLink{
    width: 22%;
}
#researchLink{
    width: 20%;
}
#aboutUsLink{
    width: 20%;
}

.cv{
    display: flex;
    width: 100%;
    height: 100%;
}

.left{
    padding-top: 10px;
    color: white;
    height: 100%;
    flex: 27%;
    background-color: rgb(28, 27, 27);
}

.coverImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.textContent{
    width: 75%;
    height: 400px;
    margin: auto;
}

.backlink{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.backlink:hover{
    text-decoration: underline;
}

.portfolioContact{
    margin-top: 50px;
}

.mid{
    flex: 53%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px 0px 0px 70px;
}

.education{
    width: 700px;
    height: 165px;
    margin-bottom: 25px;
}

.education p{
    margin-bottom: 10px;
}

.years{
    color: rgb(151, 141, 141);
    margin-right: 20px;
    font-weight: 600;
}

.skills{
    width: 500px;
    height: 240px;
    margin-bottom: 20px;
}

.skillLists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0; /*to remove the default list indentation */
    list-style: none;
}

.skillLists li{
    margin-bottom: 10px;
}

.stars{
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
}

.certificationsList{
    list-style: none;
    padding: 0; 
}

.certificationsList li{
    margin-bottom: 10px;
}

.right{
    color: white;
    height: 100%;
    flex: 20%;
    background-color: rgb(28, 27, 27);
    padding: 50px 0px 0px 20px;
}

.hobbies{
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
}

.hobbiesList{
    list-style: none;
    padding: 10px 0px;
}

.hobbiesList li{
    background-color: rgb(73, 71, 71);
    height: 23px;
    padding: 2px 0px 0px 5px;
    margin-bottom: 8px;
}

.socials{
    width: 200px;
    height: 350px;
}

.socialLinks{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.socialLinks:hover{
    text-decoration: underline;
}

.socialIcons{
    height: 20px;
    width: 20px;
}
